{% extends 'base.html' %}
{% block title %}  Contact Us {% endblock title %}
{% block body %}
<h2 class="text-center">Contact Us</h2>
<form method="POST" action="/contact">
 {% csrf_token %}
  <div class="container">
    <form>
    <div class="mb-3">
    <label for="name" class="form-label">name</label>
    <input type="Text" class="form-control" id="name" name="name" aria-describedby="emailHelp">
    </div>
   <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
    <div id="iemail" class="form-text">We'll never share your email with anyone else.</div>
   </div>
   <div class="mb-3">
    <label for="phone" class="form-label">phone</label>
    <input type="text" class="form-control" id="phone" name="phone" aria-describedby="emailHelp">
    <div id="phonenumber1" class="form-text">We'll never share your Phone number with anyone else.</div>
   </div>
   <div class="mb-3">
    <label for="desc" class="form-label">desc</label>
    <input type="text" class="form-control" id="desc" name="desc" aria-describedby="emailHelp">
   </div>

   <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="Check1">
    <label class="form-check-label" for="Check1">I AM Not A Robot</label>
   </div>
   <button type="submit" class="btn btn-primary">Submit</button>


</form>

</div>
</form>
{% endblock body %}