{% extends 'base.html' %}
{% block title %} Sedan cars {% endblock title %}
{% block body %}
<h2 class="text-center">Sedan Cars</h2>
he smallest category of vehicles that are registered as normal cars is called A-segment in Europe, or "city car" in Europe and the United States. The United States Environmental Protection Agency defines this category as "minicompact." However, this term is not widely used.

The equivalents of A-segment cars have been produced since the early 1920s. However, the category increased in popularity in the late 1950s when the original Fiat 500 and BMC Mini were released.

Examples of A-segment / city cars / minicompact cars:
{% endblock body %}
