{% extends 'base.html' %}
{% block title %} Super Cars {% endblock title %}
{% block body %}
<h2 class="text-center"> Super Cars</h2>
A supercar – also called exotic car – is a loosely defined description of street-legal, high-performance luxury sports car. Since the 2000s or 2010s, the term hypercar has come into use for the highest performing supercars. Supercars commonly serve as the flagship model within a vehicle manufacturer's lineup of sports cars.
A more recent term for high-performance sportscars is "hypercar", which is sometimes used to describe the highest performing supercars.[16] As per supercars, there is no set definition for what constitutes a hypercar. An attempt to define these is "a limited-production, top-of-the-line supercar with a price of around or more than US$1 million."[17]

Some people consider the 1993 McLaren F1 to be the first hypercar,[18] while others believe the 2005 Bugatti Veyron was the first hypercar.[19]

With a recent shift towards electrification, many recent hypercars use a hybrid drivetrain, a trend started in 2013 by the McLaren P1, Porsche 918 Spyder, and LaFerrari, then continued in 2016 with the Koenigsegg Regera, in 2017 with the Mercedes-AMG One, and in 2019 with the Ferrari SF90 Stradale. [20][21][22]

Modern hypercars such as Pininfarina Battista, NIO EP9, Rimac C Two, and Lotus Evija have also gone full-electric.


{% endblock body %}