{% extends 'base.html' %}
{% block title %} Super Utility Vechile {% endblock title %}
{% block body %}
<h2 class="text-center">Super Utility Vechile</h2>
There is no commonly agreed-upon definition of an SUV, and usage of the term varies between countries. Some definitions claim that an SUV must be built on a light truck chassis; however, broader definitions consider any vehicle with off-road design features to be an SUV. A crossover SUV is often defined as an SUV built with a unibody construction (as with passenger cars), however, in many cases, crossovers are simply referred to as SUVs. In some countries — such as the United States — SUVs have been classified as "light trucks", resulting in more lenient regulations compared to passenger cars.
In the United States, many government regulations simply have categories for "off-highway vehicles" which are loosely defined and often result in SUVs (along with pick-up trucks and minivans) being classified as light trucks.[1][13] For example, Corporate Average Fuel Economy (CAFE) regulations previously included "permit greater cargo-carrying capacity than passenger carrying volume" in the definition for trucks, resulting in SUVs being classified as light trucks.[14]

This classification as trucks allowed SUVs to be regulated less strictly than passenger cars under the Energy Policy and Conservation Act for fuel economy, and the Clean Air Act for emissions.[15] However, from 2004 onwards, the United States Environmental Protection Agency (EPA) began to hold sport utility vehicles to the same tailpipe emissions standards as cars.[16] In 2011, the CAFE regulations were changed to classify small, two-wheel drive SUVs as passenger cars.[17]


{% endblock body %}
